@import 'settings';


.MediaUpload {
    position: relative;
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }

    &__dropzone {
        width: 100%;
        height: 500px;
        max-height: 40vh;
        padding: 20px;
        border: 2px dashed var(--color-gray-600);
        border-radius: 5px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        font-size: 18px;
        color: var(--color-gray-600);

        p {
            font-weight: bold;
        }

        .icon {
            font-size: 30px;
            color: var(--color-gray-500);
        }

        &:hover {
            color: var(--color-black);

            .icon {
                color: var(--color-black);
            }
        }

    }

    &__continue-button:visited,
    &__continue-button:link {
        display: inline-block;
        padding: 4px 15px;
        line-height: 22px;
        background: var(--secondary);
        border: 0;
        border-radius: 4px;
        color: var(--color-white);
        cursor: pointer;

        &:hover {
            background: var(--link-hover-color);
            color: var(--color-white);

            a {
                color: var(--color-white);
            }
        }

        span,
        .icon {
            display: inline-block;
            vertical-align: middle;
        }

        .icon {
            font-size: 22px;
        }
    }

    &__FileList {
        margin-top: 30px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: 15px;

            li {
                position: relative;
                list-style: none;
                padding: 7px 5px;
                margin: 0 0 5px 0;

                >* {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                }

                .filename,
                .error-msg {
                    font-weight: bold;
                }

                > .icon {
                    color: var(--color-green);
                    font-size: 18px;
                }

                .error-retry {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    line-height: 100%;
                    color: var(--color-white);
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    >span {
                        padding-right: 5px;
                    }
                }

                .progress-indicator {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background: var(--color-green-light);
                }

                &.error {
                    color: var(--color-white);

                    .progress-indicator {
                        width: 100% !important;
                        background: var(--error-fg);
                        color: var(--color-white);
                    }

                }
            }
        }
    }
}
