@import 'settings';

.MediaForeignKeyWidget,
.ImageForeignKeyWidget,
.VideoForeignKeyWidget {
    input[type='hidden'] + .related-lookup {
        margin-left: 0;
        padding-left: 0;
    }

    .related-lookup {
        white-space: nowrap;
    }

    .foreignKeyImage {
        display: block;
        margin-top: 10px;

        img {
            // hide img without src
            display: none;
            max-width: 360px;

            &[src] {
                display: inline;
            }
        }

        &.empty {
            display: none;
        }
    }
}

.MediaForeignKeyWidget,
.FileForeignKeyWidget,
.ImageForeignKeyWidget,
.VideoForeignKeyWidget {
    .changelink {
        display: block;
        margin: 10px 0;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .foreignKeyImage + .changelink {
        background-image: none;
        padding-left: 0;
    }
}
