@import 'settings';

.LinkBrowser {
    position: relative;
}

.LinkBrowser__objects {
    padding: 0;
    margin: 0;
    list-style: none;

    > button {
        display: block;
        border: 0;
        outline: 0;
        background: none;
        box-shadow: none;
        cursor: pointer;
        text-align: left;
        padding: 10px;
        color: var(--link-fg);

        &:hover {
            color: var(--link-hover-color);
        }

        > img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-top: 10px;
        }

        &.hasImage {
            display: inline-block;
            width: 200px;
        }
    }
}

.LinkBrowser__search {
    position: sticky;
    top: 50px;
    width: 500px;
    max-width: calc(100% - 50px);
    margin-bottom: 20px;

    input {
        width: 100%;
    }

    .material-icons {
        position: absolute;
        top: 3px;
        right: -10px;
    }
}
