@import 'settings';

// Styling for changed / unchanged forms
body.change-form form.is-change-form:not(.form--isChanged) {
    .submit-row {
        > input[type='submit']:not(:hover) {
            opacity: 0.4;
        }
    }
}
