{% extends "admin/base_site.html" %}

{% block extrahead %}{{block.super}}
{{form.media.js}}
{% endblock extrahead %}

{% block extrastyle %}{{block.super}}
{{form.media.css}}
{% endblock extrastyle %}

{% block content %}
<div id="content-main">
    <h2>Tag media items</h2>

    <form method="post" novalidate>
        {% csrf_token %}
        {% for item in queryset %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ item.pk }}" />
        {% endfor %}
        <input type="hidden" name="action" value="tag_selected" />

        <fieldset class="module aligned">
            <div class="form-row">
                <div class="field-box">
                    {{form.tags.errors}}
                    {{form.tags.label_tag}}
                    {{form.tags}}
                    <div class="help">{{form.tags.help_text}}</div>
                </div>
                <div class="field-box">
                    {{form.action.errors}}
                    {{form.action.label_tag}}
                    {{form.action}}
                    <div class="help">{{form.action.help_text}}</div>
                </div>
            </div>
        </fieldset>
        <input type="submit" value="Save" class="default" style="float:none" />
    </form>

    <br/><br/>
    <p>Tags will be edited for the following item:</p>
    <ul>
        {% for item in queryset %}
        <li><a href="{% url 'admin:media_mediaitem_change' item.pk %}">{{item}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
