{% extends "admin/base.html" %}{% load static %}{% load customadmin webpack_loader %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block customstyle %}{{block.super}}
{% render_bundle 'main' 'css' 'CUSTOMADMIN' %}
{% endblock customstyle %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Site admin</a></h1>
{% comment %} DISABLED DJANGO theme toggle
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endcomment %}
{% endblock %}

{% block welcome-msg %}
<strong>{% firstof user.get_short_name user.get_username %}:</strong>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
{{block.super}}

{# JSON data used for sidebar nav component #}
<script id="admin_app_json" type="application/json">{% admin_app_json %}</script>
{% endblock footer %}

{% block body-end %}
{% include 'customadmin/includes/outdatedbrowser.html' %}
{% render_bundle 'main' 'js' 'CUSTOMADMIN' %}
{% endblock body-end %}
