{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}{{ opts.verbose_name_plural|capfirst }}{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
</div>
{% endblock %}

{% block submit_buttons_bottom %}
<style>
    .submit-row input:not(.default) {
        display: none;
    }
</style>
{{block.super}}
{% endblock %}

{% block content_title %}{% if title %}<h1>{{opts.verbose_name}}</h1>{% endif %}{% endblock %}
